$background-color: #f5f6fa;
$header-background-color: #182C61;
$menu-color: #fff;
$product-button-background: #44bd32;
$product-button-hover: #4cd137;
$container-max-width: 1024px;
$container-padding: 16px;
$product-border-radius: 16px;
$product-button-radius: 8px;