// Variáveis de cores
$primary-color: #3498db;
$secondary-color: #2ecc71;
$highlight-color: #ffff42;
$font-color: gray;

// Variáveis de espaçamento
$margin: 8px;
$padding: 8px;

// Variáveis de tamanhos
$font-size-large: 1.2em;
